samples: "config/samples.tsv"
units: "config/units.tsv"

ref:
  # ensembl species name:
  # This species needs to be available for download via the Ensembl FTP site.
  # For a quick check, see the Ensembl species list:
  # https://www.ensembl.org/info/about/species.html
  # For full valid species names, consult the respective table for the release
  # you specify, for example for ‘115’ this is at:
  # https://ftp.ensembl.org/pub/release-115/species_EnsemblVertebrates.txt
  # And to browse available downloads in more detail, see the FTP server:
  # https://ftp.ensembl.org/pub/
  species: homo_sapiens
  # ensembl release version:
  # Update this to the latest working version, when you first set up a new
  # analysis on a dataset. You can usually find the latest release in the
  # Ensembl blog, by looking at the latest posts of the release category:
  # https://www.ensembl.info/category/01-release/
  # Later, it only makes sense to update (or downgrade) the release versions
  # if either (a) the version you are using consistently fails to download
  # (some Ensembl release versions are just broken) or (b) you know that a
  # newer version will include changes that will fix some error or adds
  # transcripts that will be relevant to your analysis.
  release: "115"
  # genome build:
  # Usually, this should just be the main build listed in:
  # https://ftp.ensembl.org/pub/release-115/species_EnsemblVertebrates.txt
  # For example, for homo_sapiens, you strip the assembly column entry
  # "GRCh38.p12" down to "GRCh38". If in doubt, navigate to the respective
  # cdna folder on the FTP server, and look for the correct build in the
  # file names there. For example "GRCh38" in:
  # https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/cdna/
  build: GRCh38

params:
  star:
    index:
      # From the STAR documentation PDF:
      # https://github.com/alexdobin/STAR/blob/master/doc/STARmanual.pdf
      # > Ideally, this length should be equal to the ReadLength-1, where
      #   ReadLength is the length of the reads. [...] In case of reads of
      #   varying length, the ideal value is max(ReadLength)-1. In most cases,
      #   the default value of 100 will work as well as the ideal value.
      sjdbOverhang: 100
      # Any extra parameters from the STAR documentation PDF (link above) or
      # the `STAR --help` message, except the following ones, which are
      # automatically handled by the STAR index wrapper:
      # * `--runThreadN`
      # * `--runMode genomeGenerate`
      # * `--genomeFastaFiles`
      # * `--sjdbGTFfile`
      # * `--outTmpDir`
      # * `--genomeDir`
      extra: ""
    align:
      # Here, we just use the recommended STAR configuration from the Arriba
      # wiki as listed in the example workflow (differences listed and
      # explained below):
      # https://github.com/suhrig/arriba/wiki/03-Workflow#demo-script
      #
      # If you want to adjust any of the parameters, check out the STAR manual:
      # https://github.com/alexdobin/STAR/blob/master/doc/STARmanual.pdf
      #
      # As the Arriba GitHub wiki is not versioned in any way and prone to
      # change or disappear, we here document the original listing:
      #   --outFilterMultimapNmax 50 \ # allow more than default 20 alignments per read (default: 20)
      #   --peOverlapNbasesMin 10 \ # turns on merging of overlaping read pairs
      #   --alignSplicedMateMapLminOverLmate 0.5 \ # ? I don't understand the parameter description
      #   --alignSJstitchMismatchNmax 5 -1 5 5 \ # maximum mismatches for splice junction stitching per type (-1: no limit)
      #   --chimSegmentMin 10 \ # turn on chimeric (fusion) read detection and set minimum length on each end for split read alignments to be reported
      #   --chimOutType WithinBAM HardClip \
      #   --chimJunctionOverhangMin 10 \ # ? minimum overhang for a chimeric junction (default: 20)
      #   --chimScoreDropMax 30 \ # ? max drop (difference) of chimeric score (the sum of scores of all chimeric segments) from the read length
      #   --chimScoreJunctionNonGTAG 0 \ # penalty for non-GT/AG splice junction (default: -1)
      #   --chimScoreSeparation 1 \ # minimum difference between best chimeric score and next (default: 10)
      #   --chimSegmentReadGapMax 3 \ # maximum gap in the read sequence between chimeric segments (default: 0)
      #   --chimMultimapNmax 50 # maximum number of chimeric multi-alignments (default: 0)
      #
      # Changes we make for the defaults in this workflow:
      #   --chimOutType WithinBAM SoftClip # instead of HardClip, as this does
      #       not make a difference for analysis (see:
      #       https://github.com/suhrig/arriba/issues/173) but keeps clipped
      #       info around (for example for better realignment of breakpoints or
      #       visualisation of alignments); this parameter is set in the
      #       wrapper call in workflow/rules/mapping.smk
      extra: |
        --outFilterMultimapNmax 50
        --peOverlapNbasesMin 10
        --alignSplicedMateMapLminOverLmate 0.5
        --alignSJstitchMismatchNmax 5 -1 5 5
        --chimSegmentMin 10
        --chimJunctionOverhangMin 10
        --chimScoreDropMax 30
        --chimScoreJunctionNonGTAG 0
        --chimScoreSeparation 1
        --chimSegmentReadGapMax 3
        --chimMultimapNmax 50
  arriba:
    # Here, you can specify a custom blacklist of known false positive fusions
    # to exclude. If nothing is set here, a default arriba exclusion list will
    # be used. For more details, see:
    # https://github.com/suhrig/arriba/wiki/04-Input-files#blacklist
    custom_blacklist: ""
    # Here, you can specify a custom list of known true positive fusions
    # to be more sensitive to. If nothing is set here, a default arriba known
    # fusions list will be used. For more details, see:
    # https://github.com/suhrig/arriba/wiki/04-Input-files#known-fusions
    custom_known_fusions: ""
    extra: ""
